.cookiePop{
   position:fixed;
   width:100%;
   bottom:0;
   background: rgb(54, 54, 54);
   border:1px solid black;
   z-index: 1000000;
   padding: 1.5em 0;
   text-align: center;
   font-size:1.1rem;
   color:whitesmoke;
}

.cookiePop a{
   text-decoration: none;
   color:rgb(94, 165, 206);
}

.cookiePop a:hover{
   border-bottom:2px solid rgb(94, 165, 206);;
}

.cookiePop i{
   position:absolute;
   right:2%;
   top:50%;
   transform: translateY(-50%);
   font-size:1.7rem;
   color:rgb(253, 25, 25);
   cursor:pointer;
}

.cookiePop i:hover{
   color:whitesmoke;
}